{% extends 'base.html' %}

{% block body %}
<div class="container bg-light p-3">
<p class="display-4" style="border-bottom:1px solid !important;padding:10px;">{{blog.title}}</p>
<div class="row px-3 " >
<p>{{blog.author}}   {{blog.publish_date}}</p>
{% if user in blog.author.follower.all %}
<button id="follow" class="btn btn-primary" onclick="follow()">unfollow</button>
{% else %}
<button id="follow" class="btn btn-muted" onclick="follow()">Follow</button>
{% endif %}
 </div>

<div class="row px-3 " >
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<div class="fb-like" data-href="{% url 'detail' blog.id %}" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
</div>
<div class="content mb-3">
<img src = "{{blog.image.url}}" class="h-75 w-100 img-fluid mb-3 mt-3">
<p>{{blog.text}}</p>
{% if user in blog.claps.all %}
<input type="submit" class="btn btn-primary" id="clap" onclick="clap()" value="clap">
{% else %}
<input type="submit" class="btn btn-secondary" id="clap" onclick="clap()" value="clap">
{% endif %}
</div>

<div class="comments mb-3 p-4">
<input name="comment" id="mycomment" class="form-control mb-3"/>
<input type="submit" class="btn btn-Success" onclick="comment()"  value="Comment please">
</div>
<ul id="commentslist ">
{% for comment in blog.comments.all %}
<li class="comment"> 
<article class="comment-body"> 
<footer class="comment-meta"> 
<div class="comment-author vcard">
 <img alt="" src="https://secure.gravatar.com/avatar/1db49660482173223e50a06c031d236c?s=70&amp;d=wavatar&amp;r=g" srcset="https://secure.gravatar.com/avatar/1db49660482173223e50a06c031d236c?s=140&amp;d=wavatar&amp;r=g 2x" class="rounded-circle" height="70" width="70"> <b class="fn">{{comment.commentator}}</b>
 </div> 
 <div class="small"> 
 <time> {{comment.created_date}} </time>
</div>
    </footer>
     <div class="comment-content">
      <p>{{comment.text}}</p>
     </div>
 </article> 
 </li>
{% endfor %}
</ul>
</div>
</div>

<script>

  var xhttp = new XMLHttpRequest();
function clap() {
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
     var res = this.responseText;
     console.log(res);
     if(res=="Success"){
       var btn=document.body.querySelector('#clap');
       btn.className="btn btn-primary";
     }
     if(res=='unclap'){
       var btn=document.body.querySelector('#clap');
       btn.className="btn btn-secondary";
     }
    }
  };
  xhttp.open("GET", "{% url 'clap' blog.id %}", true);
  
  xhttp.send();
}

function follow() {
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
     var res = this.responseText;
     console.log(res);
     if(res=="Success"){
       var btn=document.body.querySelector('#follow');
       btn.className="btn btn-primary";
     }
     if(res=='ununfollow'){
       var btn=document.body.querySelector('#follow');
       btn.className="btn btn-muted";
     }
    }
  };
  xhttp.open("GET", "{% url 'follow' blog.author %}", true);
  
  xhttp.send();
}

function comment() {
  var c= document.body.querySelector('#mycomment').value;
  xhttp.open("POST", "{% url 'comment' blog.id %}", true);
  xhttp.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
  xhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
  xhttp.send("comment="+c);
  xhttp.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
     var res = this.responseText;
     console.log(res);
     if(res=="success"){
       var list = document.body.querySelector("#commentslist");
       var node = document.createElement("LI");                 // Create a <li> node
       var textnode = document.createTextNode(c+",{{user}}");         // Create a text node
       node.appendChild(textnode);                              // Append the text to <li>
       list.appendChild(node); 
     }
    }
  };
  
   
}

</script>

{% endblock body %}

