{% extends 'base.html' %}

{% block body %}
<div class="container-sm">
<p class="display-4" style="border-bottom:1px solid !important;padding:10px;">{{blog.title}}</p>
<p class="small">Last updated on {{blog.publish_date}}</p>
<div class="row" >
<img src = "https://cdn.onlinewebfonts.com/svg/img_383210.png" height=96 width=96 class="rounded-circle">
 <h1><small>{{blog.author}}</small></h1>
 </div>
<div class="row" >
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<div class="fb-like" data-href="{% url 'detail' blog.id %}" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
</div>
<img src = "{{blog.image.url}}" class="h-75 w-100">
<p>{{blog.text}}</p>
<div class="row">
{% if user in blog.claps.all %}
<input type="submit" class="btn btn-primary" id="clap" onclick="clap()" value="clap">
{% else %}
<input type="submit" class="btn btn-secondary" id="clap" onclick="clap()" value="clap">
{% endif %}
</div>

<div class="comments">
<input name="comment" id="mycomment" class="form-control"/>
<input type="submit" class="btn btn-Success" onclick="comment()"  value="Comment please">

<ul id="commentslist">
{% for comment in blog.comments.all %}
<li>{{comment.text}}, {{comment.commentator}}</li>
{% endfor %}
</ul>
</div>
</div>

<script>

  var xhttp = new XMLHttpRequest();
function clap() {
    console.log("here");
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
     var res = this.responseText;
     console.log(res);
     if(res=="Success"){
       var btn=document.body.querySelector('#clap');
       btn.className="btn btn-primary";
     }
     if(res=='unclap'){
       var btn=document.body.querySelector('#clap');
       btn.className="btn btn-secondary";
     }
    }
  };
  xhttp.open("GET", "{% url 'clap' blog.id %}", true);
  
  xhttp.send();
}

function comment() {
  var c= document.body.querySelector('#mycomment').value;
  xhttp.open("POST", "{% url 'comment' blog.id %}", true);
  xhttp.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
  xhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
  xhttp.send("comment="+c);
  xhttp.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
     var res = this.responseText;
     console.log(res);
     if(res=="success"){
       var list = document.body.querySelector("#commentslist");
       var node = document.createElement("LI");                 // Create a <li> node
       var textnode = document.createTextNode(c+",{{user}}");         // Create a text node
       node.appendChild(textnode);                              // Append the text to <li>
       list.appendChild(node); 
     }
    }
  };
  
   
}

</script>

{% endblock body %}

