{% extends 'base.html' %}

{% block body %}
<div class="container bg-light p-3">
<p class="display-4" style="border-bottom:1px solid !important;padding:10px;">{{blog.title}}</p>
<div class="row px-3 " >
<a href="{% url 'profile' blog.author.username %}" class="text-muted"><p>{{blog.author.username}} {{blog.publish_date}}</p></a> 
{% if user in blog.author.follower.all %}
<kbd id="follow" class="btn-primary" onclick="follow()">unfollow</kbd>
{% else %}
<kbd id="follow" class=" btn-dark" onclick="follow()">Follow</kbd>
{% endif %}
 </div>

<div class="row px-3 " >
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<div class="fb-like" data-href="{% url 'detail' blog.id %}" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
</div>
<div class="content mb-3">
<img src = "{{blog.image.url}}" class="h-75 w-100 img-fluid mb-3 mt-3">
<p>{{blog.text}}</p>
{% if user in blog.claps.all %}
<span id="clap" onclick="clap()" style="opacity:0.75;">
<svg width="25" height="25"><g fill-rule="evenodd"><path d="M11.74 0l.76 2.97.76-2.97zM16.63 1.22L15.2.75l-.4 3.03zM9.79.75l-1.43.47 1.84 2.56zM22.47 13.3L19.45 8c-.29-.43-.69-.7-1.12-.78a1.16 1.16 0 0 0-.91.22c-.3.23-.48.52-.54.84l.05.07 2.85 5c1.95 3.56 1.32 6.97-1.85 10.14a8.46 8.46 0 0 1-.55.5 5.75 5.75 0 0 0 3.36-1.76c3.26-3.27 3.04-6.75 1.73-8.91M12.58 9.89c-.16-.83.1-1.57.7-2.15l-2.5-2.49c-.5-.5-1.38-.5-1.88 0-.18.18-.27.4-.33.63l4.01 4z"></path><path d="M15.81 9.04a1.37 1.37 0 0 0-.88-.6.81.81 0 0 0-.64.15c-.18.13-.72.55-.24 1.56l1.43 3.03a.54.54 0 1 1-.87.61L7.2 6.38a.99.99 0 1 0-1.4 1.4l4.4 4.4a.54.54 0 1 1-.76.76l-4.4-4.4L3.8 7.3a.99.99 0 0 0-1.4 0 .98.98 0 0 0 0 1.39l1.25 1.24 4.4 4.4a.54.54 0 0 1 0 .76.54.54 0 0 1-.76 0l-4.4-4.4a1 1 0 0 0-1.4 0 .98.98 0 0 0 0 1.4l1.86 1.85 2.76 2.77a.54.54 0 0 1-.76.76L2.58 14.7a.98.98 0 0 0-1.4 0 .99.99 0 0 0 0 1.4l5.33 5.32c3.37 3.37 6.64 4.98 10.49 1.12 2.74-2.74 3.27-5.54 1.62-8.56l-2.8-4.94z"></path></g></svg>
</span>
{% else %}
<span id="clap" onclick="clap()" style="opacity:0.25;">
<svg width="25" height="25"><g fill-rule="evenodd"><path d="M11.74 0l.76 2.97.76-2.97zM16.63 1.22L15.2.75l-.4 3.03zM9.79.75l-1.43.47 1.84 2.56zM22.47 13.3L19.45 8c-.29-.43-.69-.7-1.12-.78a1.16 1.16 0 0 0-.91.22c-.3.23-.48.52-.54.84l.05.07 2.85 5c1.95 3.56 1.32 6.97-1.85 10.14a8.46 8.46 0 0 1-.55.5 5.75 5.75 0 0 0 3.36-1.76c3.26-3.27 3.04-6.75 1.73-8.91M12.58 9.89c-.16-.83.1-1.57.7-2.15l-2.5-2.49c-.5-.5-1.38-.5-1.88 0-.18.18-.27.4-.33.63l4.01 4z"></path><path d="M15.81 9.04a1.37 1.37 0 0 0-.88-.6.81.81 0 0 0-.64.15c-.18.13-.72.55-.24 1.56l1.43 3.03a.54.54 0 1 1-.87.61L7.2 6.38a.99.99 0 1 0-1.4 1.4l4.4 4.4a.54.54 0 1 1-.76.76l-4.4-4.4L3.8 7.3a.99.99 0 0 0-1.4 0 .98.98 0 0 0 0 1.39l1.25 1.24 4.4 4.4a.54.54 0 0 1 0 .76.54.54 0 0 1-.76 0l-4.4-4.4a1 1 0 0 0-1.4 0 .98.98 0 0 0 0 1.4l1.86 1.85 2.76 2.77a.54.54 0 0 1-.76.76L2.58 14.7a.98.98 0 0 0-1.4 0 .99.99 0 0 0 0 1.4l5.33 5.32c3.37 3.37 6.64 4.98 10.49 1.12 2.74-2.74 3.27-5.54 1.62-8.56l-2.8-4.94z"></path></g></svg>
</span>
{% endif %}
{{blog.claps.all|length}}
</div>

<div class="comments mb-3 p-4">
<input name="comment" id="mycomment" class="form-control mb-3"/>
<input type="submit" class="btn btn-Success" onclick="comment()"  value="Comment please">
</div>
<ul id="commentslist ">
{% for comment in blog.comments.all %}
<li class="comment"> 
<article class="comment-body"> 
<footer class="comment-meta"> 
<div class="comment-author vcard">
 <img alt="" src="https://secure.gravatar.com/avatar/1db49660482173223e50a06c031d236c?s=70&amp;d=wavatar&amp;r=g" srcset="https://secure.gravatar.com/avatar/1db49660482173223e50a06c031d236c?s=140&amp;d=wavatar&amp;r=g 2x" class="rounded-circle" height="70" width="70"> <b class="fn">{{comment.commentator}}</b>
 </div> 
 <div class="small"> 
 <time> {{comment.created_date}} </time>
</div>
    </footer>
     <div class="comment-content">
      <p>{{comment.text}}</p>
     </div>
 </article> 
 </li>
{% endfor %}
</ul>
</div>
</div>

<script>

  var xhttp = new XMLHttpRequest();
function clap() {
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
     var res = this.responseText;
     console.log(res);
     if(res=="Success"){
       var btn=document.body.querySelector('#clap');
       btn.style.opacity = 0.75;
     }
     if(res=='unclap'){
       var btn=document.body.querySelector('#clap');
       btn.style.opacity = 0.25;
     }
    }
  };
  xhttp.open("GET", "{% url 'clap' blog.id %}", true);
  
  xhttp.send();
}

function follow() {
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
     var res = this.responseText;
     console.log(res);
     if(res=="Success"){
       var btn=document.body.querySelector('#follow');
       btn.className="btn-primary";
     }
     if(res=='unfollow'){
       var btn=document.body.querySelector('#follow');
       btn.className="btn-dark";
     }
    }
  };
  xhttp.open("GET", "{% url 'follow' blog.author %}", true);
  
  xhttp.send();
}

function comment() {
  var c= document.body.querySelector('#mycomment').value;
  xhttp.open("POST", "{% url 'comment' blog.id %}", true);
  xhttp.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
  xhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
  xhttp.send("comment="+c);
  xhttp.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
     var res = this.responseText;
     console.log(res);
     if(res=="success"){
       var list = document.body.querySelector("#commentslist");
       var node = document.createElement("LI");                 // Create a <li> node
       var textnode = document.createTextNode(c+",{{user}}");         // Create a text node
       node.appendChild(textnode);                              // Append the text to <li>
       list.appendChild(node); 
     }
    }
  };
  
   
}

</script>

{% endblock body %}

