form{
    /* border-style: dashed; */
    border:1px solid rgb(253, 173, 173);
    width:50%;
    margin: 50px auto;
    background-color:rgb(11, 65, 61);
    border-radius: 10px;
    height:500px;
}
h1{
    font-size: 80px;
    text-align: center;
    font-weight: 500;
    color: crimson;
}
label{
    font-size: 30px;
    color: white;
    margin: 10px;
}
.form-group{
    width: 60%;
    margin: auto;
    padding-top: 20px;
}

.btn{
    /* margin: 60px ; */
    margin-left: 40%;
    margin-top: 60px;
    padding-right: 30px;
    padding-left: 30px;
    
}
