body {
    margin: 0;
    padding: 0;
    /*background: linear-gradient(to right, rgb(255, 147, 147), rgb(129, 245, 204))*/
}

#carouselcap .carousel-caption {
    padding-bottom: 200px;
}

#carouselcap .carousel-caption h2 {
    font-size: 80px;
    /* padding-bottom:200px; */
    letter-spacing: 3px;
    text-shadow: blueviolet;
}

#carouselcap .carousel-caption p {
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 400;
    /* color: rgb(80, 109, 255); */
    /* margin-bottom: 100px; */

}

.card {
    width: 70%;
    /* height:500px; */
    /* height:50%; */
    margin: 60px auto;
    /* height: 30vh; */
}

.card img {
    max-height: 50vh;
}

.c {
    color: blue;
}

ul {
    list-style: none;
}